<% if @love.gb_id %>

  <div id="attributes">
    <div class="left">
      Platforms:<br>
      Release Date:<br>
      Developers:<br>
      Publishers:<br>
      Game Rating:<br>
      Love GBID:<br>
      Owned:<br>
      Ignored:<br>
    </div>

    <div class="right">
      <%= @love.platforms %><br>
      <%= @love.release_date %><br>
      <%= @love.developers %><br>
      <%= @love.publishers %><br>
      <%= @love.game_rating %><br>
      <%= @love.gb_id %><br>
      <%= @love.owned.nil? ? "false" : "true" %><br>
      <%= @love.ignored.nil? ? "false" : "true" %>
    </div>

  </div>
  
  <div id="description">
    <strong>Description</strong>
    <p>
    <%= @love.description %>
    </p>
  </div>
  
  <%= link_to "Arstechnica calls it", @love.ars_review.link %> <em><%= @love.ars_review.ars_title %></em>

<% else %>

  <!-- Our guess from Ars is all jacked up, give a hint for cleanup -->
  <strong>Hint</strong><br>
  <%= link_to "Arstechnica called it", @love.ars_review.link %> <em><%= @love.ars_review.ars_title %></em>.<br>
  Set the title above for great justice.

<% end %>