<% if @gb_object %>

  <div id="attributes">
    <div class="left">
      Platforms:<br>
      Release Date:<br>
      Developers:<br>
      Publishers:<br>
      Game Rating:<br>
    </div>

    <div class="right">
      <%= @gb_object["platforms"].collect{|h| h["name"]}.join(", ")%><br>
      <%= Date.parse(@gb_object["original_release_date"]).strftime("%a, %d-%b-%Y") %><br>
      <%= @gb_object["developers"].collect{|h| h["name"]}.join(", ") %><br>
      <%= @gb_object["publishers"].collect{|h| h["name"]}.join(", ") %><br>
      <%= @gb_object["original_game_rating"] %><br>
    </div>
    <br>
  </div>
  
  <div id="description">
    <p>
    <%= @gb_object["deck"] %>
    </p>
  </div>

<% else %>
<!-- Our guess from Ars is all jacked up, give a hint for cleanup -->
<h2>Hint</h2>
<%= @love.ars_review.ars_title %>
<% end %>