<style type="text/css">
#covers {margin:0px 0px 0px 0px; width:600px; }
.cover_thumbs {list-style-type:none; }
.cover_thumbs li {width:120px; height:100px; float:left; padding-right:2px; margin-bottom:15px; }
.cover_thumbs li.ender {width:1px; height:1px; float:none; clear:both;  margin:0px; }
.cover_thumbs a { font-size:11px; }
.cover_thumbs img { border:solid 1px gray; }
</style>

<!-->
<h1>Parsed List</h1>

<table>
  <th>Ars Title</th>
  <th>Giant Bomb Title</th>
  <th>Custom Title</th>
  <th>Giant ID</th>
  <th>Owned</th>
  <th>Ignored</th>
  
  <%= @loves.each do |love| %>
  <tr>
    <td><%= love.ars_review.ars_title unless nil %></td>
    <td><%= love.gb_title unless nil %></td>
    <td><%= love.title unless nil %></td>
    <td><%= love.gb_id unless nil %></td>
    <td width="10%"><%= love.owned unless nil %></td>
    <td width="10%"><%= love.ignored unless nil %></td>
  </tr>
  <% end %> -->

</table>


<h1>Verdict: Buy</h1>
<div id="covers" >
  <ul class="cover_thumbs" >
    
    <% @loves.each do |love| %>
    <li>
       <%# art_icon(love.gb_id) %><br>
       <%# if love.gb_id.nil? %>
       <%= link_to art_icon(love.gb_id), love_url(love) %>
    </li>
    <% end %>
  </ul>
  
  <br style="clear:both;" />
</div>