<% content_for :javascript_includes do %>
  <%= javascript_include_tag "views/love_show.js" %>
<% end %>

<style type="text/css">
/*#detail {margin:0.25em;; width:100%; height:400px; font-family: georgia;}*/
#info-panel-left { float: left; width:25%; padding-top: 0.5em; height:100%;}
#info-panel-right { float: left; width:50%; padding-top: 0.5em; clear:none; margin-left:5em; margin-right:25px;}
.form-label { float:left; padding:0px; margin:0px; font-size: 12px;}
.form-input { float:right; padding:0px; margin:0px; /*font-size: 12px;*/ }
.form-input input { width: 280px; height:12px; font-family: courier; font-size:11px;}

#attributes { font-size: 12px; width:85%; height:150px; padding:0px; margin:0.25em; border:1px solid #fff;}
.left { float:left; width:23%; padding:2px; margin:2px; height:90%; border-right:1px solid #ccc; }
.right { float:left; width:65%; padding:2px; margin:2px; height:90%; white-space:nowrap; overflow:hidden; }
#description { clear:both; width:350px; margin:0.25em; padding:2px; margin-top:1.5em; font-size:12px;}

</style>


<!-- begin content -->
<div id="detail">
  
  
<div id="info-panel-left">
  <%= art_thumb @love %>
  <div id="ownership">
    <%= form_for @love do |ownership_form| %>
    <!-- Owned:||| Ignored:||| -->
      Own:<%= ownership_form.check_box :owned %>
      Ignore:<%= ownership_form.check_box :ignored %>
    <% end %>
  </div>
  <div class="ui-widget">
  	Result:
  	<div id="log" style="height: 100px; width: 200px; overflow: auto;" class="ui-widget-content"></div>
  </div>
</div>

<div id="info-panel-right">
  <div class="ui-widget">
    <%= form_for @love do |love_form| %>
      <div class="form-label">Title:</div>
      <div class="form-input">
        <%
        %>
        <%= love_form.text_field :gb_title, :value => @default, :class=>'autosearch' %>
      </div>
      <%= love_form.hidden_field :gb_id %>
      <%= love_form.hidden_field :id %>
    <% end %>
  </div>
  
  <%= render "attributes" %>
</div>

<!-- end content -->
</div>


<!-- GBID: <%= @love.gb_id unless @love.nil? %><br>
Title: <%= @love.gb_title.size %><br> -->

<%# art_thumb @love.gb_id %>


<!-- <br><br> -->

<!-- <div class="ui-widget">
  <%= text_field_tag :search_1, nil, :class => 'autosearch' %>
  <%= text_field_tag :gbid_1, nil, :class => 'game_id' %>
  <br>
  <%= text_field_tag :search_2, nil, :class => 'autosearch' %>
  <%= text_field_tag :gbid_2, nil, :class => 'game_id' %>
</div> -->



