<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ars Loves Games</title>
  <%= stylesheet_link_tag 'luvars' %>
</head>
<body>

<div id="main">
	
	<div id="topNav">		
    <%= link_to "Home", :root %> | 
    <%= link_to "Jobs", jobs_path %> |
    <%= link_to "Buy List", "meow" %> 
	</div>
	
	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>

	<% if alert %>
		<p id="alert"><%= alert %></p>
	<% end %>

	
	<%= yield %>
</div>

</body>
</html>
